.wrapper{
	text-align: center;
	position: relative;
	width: 100%;
	/*top: 50%;
	transform: translateY(-50%);*/
	height: 100vh;
	background-color: #fa7774;
}
.comunicate-box{
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	width: 100%;
	color: #fff;
}
.comunicate-box h1{
	font-size: 62px;
}
.comunicate-box p{
	font-size: 28px;
}