<div class="about-wrapper">
	<div class="about-content about-desc">
		<h1>Description</h1>
		<p>
			Serwis Smart Planner początkowo został stworzony w ramach pracy inżynierskiej. Jego celem jest całkowite ułatwienie zarządzania swoim czasem. Prostota zawarta w aplikacji pozwala na korzystanie z serwisu i aplikacji mobilnych bez znajomości podstaw programowania. Wszystko po to aby każdy miał kontrolę nad swoim czasem.
		</p>
		<p>
			The Smart Planner service was initially created as part of engineering work. Its purpose is to make it easier to manage your time. The simplicity contained in the application allows you to use the site and mobile applications without knowing the basics of programming. Everything so that everyone has control over their time.
		</p>
	</div>
	<div class="about-content about-apps">
		<h1>Dedicated application</h1>
		<a href="smartPlanner.apk.zip" download="download">
			<i class="fa fa-android" aria-hidden="true"></i>
		</a>
	</div>
</div>