<div class="about-wrapper">
	<div class="about-content about-desc">
		<h1>Opis</h1>
		<p>
			Serwis Smart Planner początkowo został stworzony w ramach pracy inżynierskiej. Jego celem jest całkowite ułatwienie zarządzania swoim czasem. Prostota zawarta w aplikacji pozwala na korzystanie z serwisu i aplikacji mobilnych bez znajomości podstaw programowania. Wszystko po to aby każdy miał kontrolę nad swoim czasem.
		</p>
	</div>
	<div class="about-content about-apps">
		<h1>Dedykowane aplikacje</h1>
		<a href="#">
			<i class="fa fa-android" aria-hidden="true"></i>
		</a>
		<a href="#">
			<i class="fa fa-apple" aria-hidden="true"></i>
		</a>
	</div>
</div>