<div class="pulpit-wrapper container" id="pulpit-wrapper" [style.background]="bgColor">
	<div class="pulpit-buttons">
	 <button class="pulpit-btn animated bounceInDown" (click)="newNote()">note</button>
	</div>
	<div class="col-lg-9 notes-wrapper">
		<app-note *ngFor="let note of Notes" [note]="note"></app-note>
	</div>
	<div class="col-lg-3 col-xs-12 brd-l">
		<h1 id="city"></h1>
		<div class="weather">			
			
			<div class="prop">
				<p class="day">Now</p>
				<p id="ico" class="ico"></p>
				<p>temperature<span id="temp"></span></p>
				<p>wind<span id="wind"></span></p>
				<p>pressure<span id="pressure"></span></p>
			</div>
		</div>
		<div class="calendar-wrapper">
			<div id="calendar">
			    <div id="calendar_header">
			    	<i class="fa fa-chevron-left"></i>  
				    <h1></h1>
				    <i class="fa fa-chevron-right"></i>
			    </div>
			    <div id="calendar_weekdays"></div>
			    <div id="calendar_content"></div>
			  </div>
		</div>
	</div>
</div>