<div class="main-menu">
	<input type="checkbox" id="plus-menu" name="plus-menu">
	<label for="plus-menu" class="menu-icon">+</label>

	<div class="icon pulpit" routerLink="/dashboard/pulpit">
		<i class="fa fa-tachometer" aria-hidden="true"></i>
	</div>
	<div class="icon planner" routerLink="/dashboard/planner">
		<i class="fa fa-calendar" aria-hidden="true"></i>	
	</div>
	<div class="icon settings" routerLink="/dashboard/settings">
		<i class="fa fa-cogs" aria-hidden="true"></i>
	</div>
	<div class="icon about" routerLink="/dashboard/about">
		<i class="fa fa-copyright" aria-hidden="true"></i>
	</div>
</div>
