<div class="planner-wrapper">
	<table class="planner-table">
		<thead>
			<tr>
				<th>tasks</th>
				<th>day1</th>
				<th>day2</th>
				<th>day3</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>
					<tbody>
						<tr>
							<td>1</td>
							<td>2</td>
						</tr>
					</tbody>
				</th>
				<th>col</th>
				<th>col</th>
				<th>col</th>
				<th>col</th>
				<th>col</th>
				<th>col</th>
				<th>col</th>
				<th>col</th>
				<th>col</th>
				<th>col</th>
				<th>col</th>
			</tr>
		</tbody>
	</table>

</div>

