<div class="planner-wrapper">
	<div class="planner-outer">

		<table>
			<tr class="info-tb">
				<td>Zdarzenia</td>
				<td colspan="5">Planner</td>
			</tr>
			<tr class="days-tb info-tb">
				<td>Days</td>
				<td>{{ headDays[0] | date}}</td>
				<td>{{ headDays[1] | date}}</td>
				<td>{{ headDays[2] | date}}</td>
				<td>{{ headDays[3] | date}}</td>
			</tr>
			<tr>
				<td colspan="5">
					<table class="tb-in">
						<tr class="one-row">
							<td>
								Hours
							</td>
							<td>
								<table class="one-column">
									<tr>
										<td *ngFor="let t of Steps" class="hours-td" [ngClass]="'row-'+Steps.length">{{ t }}</td>
									</tr>
								</table>
							</td>
							<td>
								<table class="one-column">
									<tr>
										<td *ngFor="let t of Steps" class="hours-td" [ngClass]="'row-'+Steps.length">{{ t }}</td>
									</tr>
								</table>
							</td>
							<td>
								<table class="one-column">
									<tr>
										<td *ngFor="let t of Steps" class="hours-td" [ngClass]="'row-'+Steps.length">{{ t }}</td>
									</tr>
								</table>
							</td>
							<td>
								<table class="one-column">
									<tr>
										<td *ngFor="let t of Steps" class="hours-td" [ngClass]="'row-'+Steps.length">{{ t }}</td>
									</tr>
								</table>
							</td>

						</tr>
					</table>
				</td>
			</tr>
			<!-- kolumny content -->
			<tr *ngFor="let row of rows;let i = index">
				
				<td colspan="5">	<!-- [index]="i" -->
					<table app-row [row]="row" [index]="i" class="tb-in" (update)="onUpdate($event)" (contextmenu)="onRightClick($event)"></table>
				</td>
				
			</tr>
		</table>

	</div>
	<div class="modal-ouer" (click)="hideModal()">
		<div class="modal-ss">
			<ul>
				<li><a (click)="optionAddTimeline()">Dodaj zdarzenie liniowe </a></li>
				<li><a (click)="optionAddEvent()">Dodaj event </a></li>
			</ul>
		</div>
	</div>

</div>

