<div class="wrapper">
 <div class="container">
 	 <!-- <div class="col-lg-offset-2"></div> -->
 	<div class="row">
	 <div class="col-lg-4 col-lg-offset-2">
	  <div class="sett-content"> 
	 	top header color: 
	 	<ul class="colors" id="colorList" >
	 		<li *ngFor="let color of navColors" [style.background]="color" (click)="changeColor($event)"></li>
	 	</ul>
	  </div>
	 </div>
	 <div class="col-lg-4">
	  <div class="sett-content"> 
	 	background color: 
	 	<ul class="colors">
	 		<li *ngFor="let color of backColors" [style.background]="color" (click)="changeBg($event)"></li>
	 		
	 	</ul>
	  </div>
	 </div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-lg-offset-2">
			<div class="sett-content">
				Work hours:
				<div class="work-hours">
					Start:
					<select id="work-hours-start" (change)="change()" [(ngModel)]="startHour">
						<!-- <option>-</option> -->
						<option *ngFor="let date of DatesStart">{{ date | date:'H'}}</option>
					</select>
					End:
					<select id="work-hours-end" (change)="change()" [(ngModel)]="endHour">
						<!-- <option>-</option> -->
						<option *ngFor="let date of DatesEnd">{{ date | date:'H'}}</option>

					</select>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-lg-offset-2">

		</div>
	</div>
 </div>
</div>
