.sett-content{
	padding: 20px 0;
	font-size: 18px;
}
.colors{
	width: 100%;
	height: 26px;
	padding: 5px;
}
.colors li{
	width: 24px;
	height: 24px;
	border: 1px solid #000;
	float: left;
	border-radius: 36%;
	margin-left: 5px;
	cursor: pointer;
}